.switcher {
	margin: var(--base-spaces-4) 0;
	display: flex;
	justify-content: flex-start;
	gap: 10px;
}

.root {
	position: relative;
	display: flex;
	align-items: center;
	border: 1px solid var(--base--color--white);
	background-color: var(--base--color--white);
	width: 40px;
	height: 20px;
	border-radius: 50px;
	overflow: hidden;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	input {
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 0;
		opacity: 0;
		z-index: -1;
	}
	&.active {
		border: 1px solid var(--base--color--orange);
		.switchToggle {
			background-color: var(--base--color--orange);
			transform: translateX(110%);
		}
	}

	&.error {
		border: 2px solid var(--base--color--red);
		background-color: var(--base--color--red);
		.switchToggle {
			background-color: var(--base--color--red);
		}
	}

	.switchToggle {
		position: relative;
		width: 19px;
		height: 100%;
		border-radius: 50%;
		background-color: var(--base--color--main-3);
		z-index: 1;
		transition: all 0.3s ease-in-out;
		transform: translateX(0);
	}
}
