.task {
	padding: var(--base--spaces--2);
	border-bottom: 1px solid var(--base--color--light-grey-2);
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	gap: 15px;
	position: relative;
	overflow: hidden;
	&.done {
		background-color: var(--base--color--green-3);
	}
	.left {
		.taskTitle {
			span {
				font-size: var(--base--font--size);
				display: block;
				margin-bottom: var(--base--spaces--1);
			}
		}
		.taskText {
			color: var(--base--color--darkgrey);
			font-size: var(--base--font--size);
			p {
				font-size: var(--base--font--size);
			}
			a {
				color: var(--base--color--main-2);
				text-decoration: underline;
			}
		}
	}
	.right {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		flex-direction: row;
		gap: var(--base--spaces--2);
		button {
			transition: all 0.3s ease-in-out;
		}
		.taskActions {
			position: absolute;
			left: 0;
			top: 0;
			z-index: 2;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			gap: 10px;
			flex-direction: row;
			width: 100%;
			height: 100%;
			background-color: rgba(255, 255, 255, 1);
			padding: var(--base--spaces--4);
			opacity: 0;
			transform: translateX(100%);
			transition: all 0.2s ease-in-out;
			&.active {
				opacity: 1;
				transform: translateX(0);
			}
		}
	}
}

.userTaskToggle {
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	position: relative;
	z-index: 1;
	&.closeActions {
		margin-left: auto;
	}
}
