$baseColors: (
	white: #fff,
	white-2: #f6f6f6,
	white-3: #f9f9f9,
	white-4: #f7f7f7,
	white-5: #f3f3f3,
	white-6: #f4f4f4,
	light-grey: rgb(209, 213, 219),
	light-grey-2: rgba(209, 213, 219, 0.3),
	grey: #b6b6b6,
	grey-2: #8d8d8d,
	grey-3: #7c7c7c,
	grey-4: rgb(107, 114, 128),
	darkgrey: #383838,
	darkgrey-2: rgba(42, 41, 47, 1),
	black: #191624,
	black-2: #3d3d3d,

	main: #3c096c,
	main-2: #5a189a,
	main-3: #e74c3c,
	green: rgb(50, 156, 59),
	green-2: rgb(32, 128, 40),
	green-3: rgba(82, 184, 92, 0.445),
	lightblue: #8ecae6,
	lightblue-2: #38a3d7,
	blue: #121286,
	teal: rgb(8, 158, 158),
	teal-2: rgb(41, 128, 128),
	cyan: rgb(6 182 212),
	orange: rgb(241, 108, 19),
	orange-2: rgb(189, 85, 16),
	red: #f80b0b,
	red-2: #f14b4b,
	red-dark: #9c1b4d,
	purple: #b01c97,
	purple-2: #7a0c68,

	facebook: #4267b2,
	twitter: #1da1f2,
	instagram: #c13584,
	linkedin: #0077b5,
	github: #333,

	main-bg: #f4f4f4,
	second-main-bg: #fff,
	text: #191624,
	border: rgba(107, 114, 128, 0.4),
	white-transparent: rgba(#fff, 0.6),
);
