@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

* {
	padding: 0;
	margin: 0;
	list-style: none;
	outline: none;
	font-family: 'Rubik', Roboto, system-ui, Tahoma, sans-serif;
	box-sizing: border-box;
}

#root {
	min-height: 100%;
}

html {
	position: relative;
	width: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	scroll-behavior: smooth;
}

body {
	height: 100vh;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	color: var(--base--color--text);
	background: var(--base--color--main-bg);
}

[data-theme='dark'] {
	--base--color--main-bg: var(--base--color--black);
	--base--color--second-main-bg: var(--base--color--darkgrey-2);
	--base--color--text: var(--base--color--light-grey);
	--base--color--border: var(--base--color--light-grey);
}

.container-sm {
	@include container('1024px');
	&.space {
		padding: 40px 0;
	}
}

.container-md {
	@include container('1480px');
	&.space {
		padding: 40px 0;
	}
}

.container-lg {
	@include container('1680px');
	&.space {
		padding: 40px 0;
	}
}

.container {
	@include container('1280px');
	&.space {
		padding: 40px 0;
	}
}

.container-xl {
	@include container('1920px');
	&.space {
		padding: 40px 0;
	}
}

.sticky {
	position: sticky;
	@media screen and (max-width: 768px) {
		position: relative;
	}
	&.top {
		top: 125px;
		@media screen and (max-width: 768px) {
			top: 0;
		}
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding-bottom: var(--base--spaces--5);
	font-weight: 700;
}

a,
span,
p,
b,
h1,
h2,
h3,
h4,
h5 {
	color: var(--base--color--text);
}

a {
	&:hover {
		color: var(--base--color--main);
	}
}

h1 {
	font-size: var(--base--font--size--h1);
	@media (max-width: 768px) {
		font-size: var(--base--font--size--h1-md);
	}
	@media (max-width: 576px) {
		font-size: var(--base--font--size--h1-sm);
	}
}

h2 {
	font-weight: 600;
	font-size: var(--base--font--size--h2);
	line-height: 30px;
	@media (max-width: 768px) {
		font-size: var(--base--font--size--h2-md);
	}
	@media (max-width: 576px) {
		font-size: var(--base--font--size--h2-sm);
	}
}

h3 {
	font-size: var(--base--font--size--h3);
	@media (max-width: 768px) {
		font-size: var(--base--font--size--h3-md);
	}
	@media (max-width: 576px) {
		font-size: var(--base--font--size--h3-sm);
	}
}

h4 {
	font-size: var(--base--font--size--h4);
	@media (max-width: 768px) {
		font-size: var(--base--font--size--h4-md);
	}
	@media (max-width: 576px) {
		font-size: var(--base--font--size--h4-sm);
	}
}

h5 {
	font-size: var(--base--font--size--h5);
}

p {
	font-size: var(--base--font--size-md);
	line-height: 1.6;
}

a {
	text-decoration: none;
}

::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--base--color--main);
	border-radius: 2px;
}

@mixin noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently                              supported by Chrome, Opera and Firefox */
}
