.root {
	position: relative;
	min-height: 100%;
	background-color: var(--base--color--white);
	border-radius: var(--base--border-radius-3);
	display: grid;
	grid-template-rows: auto 1fr auto;
	gap: var(--base--spaces--10);
	padding: var(--base--spaces--8) 0;
	transition: all 0.3s ease-in-out;
}

.burgerIcon {
	padding: 0 var(--base--spaces--5);
}

.bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 15px;

	&.expanded {
		justify-content: space-between;
		padding: 0 var(--base--spaces--4);
		min-width: 250px;
	}
}

.logoutButton {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	cursor: pointer;
}
