.uibutton {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	font-weight: 700;
	transition: all 0.3s ease-in-out;
	outline: none;
	border: 1px solid transparent;
	line-height: 1.3;
	border-radius: var(--base--border-radius-1);
	&:disabled {
		opacity: 0.5;
		cursor: default;
	}
	&.fluid {
		width: 100%;
	}
	a,
	span {
		transition: all 0.3s ease-in-out;
	}
	svg {
		margin-right: var(--base--spaces--2);
		font-size: var(--base--font--size);
	}
	&:hover,
	&.active {
		background-color: var(--base--color--green);
		color: #fff;
		a,
		span {
			color: #fff;
		}
	}
}

.centered {
	margin: 0 auto;
}

.text {
	background-color: transparent;
	color: var(--base--color--grey-6);
	padding: 0;
	@media (max-width: 576px) {
		font-size: var(--base--font--size-sm);
	}
	a,
	span {
		color: var(--base--color--grey-6);
	}
	&:hover {
		color: var(--base--color--green);
		background-color: transparent;
		a,
		span {
			color: var(--base--color--green);
		}
	}
}

.contained {
	color: var(--base--color--white);
	background-color: var(--base--color--grey-2);
	&:hover,
	&.active {
		background-color: var(--base--color--black);
	}
}

.contained.green {
	background-color: var(--base--color--teal);
	color: var(--base--color--white);
	a,
	span {
		color: var(--base--color--white);
	}
	&:hover,
	&.active {
		background-color: var(--base--color--teal-2);
	}
	&:disabled {
		background-color: var(--base--color--teal);
	}
}

.contained.main {
	background-color: var(--base--color--main);
	color: var(--base--color--white);
	a,
	span {
		color: var(--base--color--white);
	}
	&:hover,
	&.active {
		background-color: var(--base--color--main-2);
	}
	&:disabled {
		background-color: var(--base--color--main);
	}
}

.contained.orange {
	background-color: var(--base--color--orange);
	color: var(--base--color--white);
	a,
	span {
		color: var(--base--color--white);
	}
	&:hover,
	&.active {
		background-color: var(--base--color--orange-2);
	}
	&:disabled {
		background-color: var(--base--color--orange);
	}
}

.contained.purple {
	background-color: var(--base--color--purple);
	color: var(--base--color--white);
	a,
	span {
		color: var(--base--color--white);
	}
	&:hover,
	&.active {
		background-color: var(--base--color--purple-2);
	}
	&:disabled {
		background-color: var(--base--color--purple);
	}
}

.contained.black {
	background-color: var(--base--color--black);
	color: var(--base--color--white);
	a,
	span {
		color: var(--base--color--white);
	}
	&:hover,
	&.active {
		background-color: var(--base--color--black-2);
	}
	&:disabled {
		background-color: var(--base--color--black);
	}
}
.contained.bordo {
	background-color: var(--base--color--rad-dark);
	color: var(--base--color--white);
	a,
	span {
		color: var(--base--color--white);
	}
	&:hover,
	&.active {
		background-color: var(--base--color--black-2);
	}
	&:disabled {
		background-color: var(--base--color--red-dark);
	}
}

.contained.blue {
	background-color: var(--base--color--lightblue);
	color: var(--base--color--white);
	a,
	span {
		color: var(--base--color--white);
	}
	&:hover,
	&.active {
		background-color: var(--base--color--lightblue-2);
	}
	&:disabled {
		background-color: var(--base--color--lightblue);
	}
}

.contained.red {
	background-color: var(--base--color--red);
	color: var(--base--color--white);
	a,
	span {
		color: var(--base--color--white);
	}
	&:hover,
	&.active {
		background-color: var(--base--color--red-2);
	}
	&:disabled {
		background-color: var(--base--color--red);
	}
}

.outlined {
	border: 1px solid var(--base--color--black);
	background-color: transparent;
	color: var(--base--color--black);
	a,
	span {
		color: var(--base--color--black);
	}
	&:hover,
	&.active {
		background-color: var(--base--color--black);
		color: var(--base--color--white);
		a {
			color: var(--base--color--white);
		}
	}
}

.outlined.green {
	border: 1px solid var(--base--color--teal);
	background-color: transparent;
	color: var(--base--color--teal);
	a,
	span {
		color: var(--base--color--teal);
	}
	&:hover,
	&.active {
		background-color: var(--base--color--teal);
		color: var(--base--color--white);
		a {
			color: var(--base--color--white);
		}
	}
}

.outlined.main {
	border: 1px solid var(--base--color--main);
	background-color: transparent;
	color: var(--base--color--main);
	a,
	span {
		color: var(--base--color--main);
	}
	&:hover,
	&.active {
		background-color: var(--base--color--main);
		color: var(--base--color--white);
		a {
			color: var(--base--color--white);
		}
	}
}

.outlined.orange {
	border: 1px solid var(--base--color--orange);
	background-color: transparent;
	color: var(--base--color--orange);
	a,
	span {
		color: var(--base--color--orange);
	}
	&:hover,
	&.active {
		background-color: var(--base--color--orange);
		color: var(--base--color--white);
		a {
			color: var(--base--color--white);
		}
	}
}

.outlined.purple {
	border: 1px solid var(--base--color--purple);
	background-color: transparent;
	color: var(--base--color--purple);
	a,
	span {
		color: var(--base--color--purple);
	}
	&:hover,
	&.active {
		background-color: var(--base--color--purple);
		color: var(--base--color--white);
		a {
			color: var(--base--color--white);
		}
	}
}

.outlined.bordo {
	border: 1px solid var(--base--color--main);
	background-color: transparent;
	color: var(--base--color--main);
	a,
	span {
		color: var(--base--color--main);
	}
	&:hover,
	&.active {
		background-color: var(--base--color--main);
		color: var(--base--color--white);
		a {
			color: var(--base--color--white);
		}
	}
}

.outlined.red {
	border: 1px solid var(--base--color--red);
	background-color: transparent;
	color: var(--base--color--red);
	a,
	span {
		color: var(--base--color--red);
	}
	&:hover,
	&.active {
		background-color: var(--base--color--red);
		color: var(--base--color--white);
		a {
			color: var(--base--color--white);
		}
	}
}

.outlined.blue {
	border: 1px solid var(--base--color--lightblue);
	background-color: transparent;
	color: var(--base--color--lightblue);
	a,
	span {
		color: var(--base--color--lightblue);
	}
	&:hover,
	&.active {
		background-color: var(--base--color--lightblue);
		color: var(--base--color--white);
		a {
			color: var(--base--color--white);
		}
	}
}

.xs {
	font-size: var(--base--font--size);
	padding: var(--base--spaces--2) var(--base--spaces--5);
	min-width: 60px;
	@media (max-width: 768px) {
		min-height: 40px;
	}
}

.sm {
	font-size: var(--base--font--size);
	padding: var(--base--spaces--3) var(--base--spaces--6);
	min-width: 80px;
	@media (max-width: 768px) {
		min-height: 60px;
	}
	@media (max-width: 576px) {
		min-height: 40px;
		padding: var(--base--spaces--2) var(--base--spaces--4);
		font-size: var(--base--font--size-sm);
	}
}
.md {
	font-size: var(--base--font--size-md);
	padding: var(--base--spaces--3) var(--base--spaces--7);
	min-width: 100px;
	@media (max-width: 768px) {
		min-width: 80px;
		padding: var(--base--spaces--2) var(--base--spaces--4);
	}
	@media (max-width: 576px) {
		min-height: 60px;
		font-size: var(--base--font--size-sm);
	}
}
.lg {
	font-size: var(--base--font--size-lg);
	padding: var(--base--spaces--3) var(--base--spaces--6);
	min-width: 120px;
	@media (max-width: 768px) {
		min-height: 100px;
	}
	@media (max-width: 576px) {
		padding: var(--base--spaces--3) var(--base--spaces--4);
		min-height: 80px;
		font-size: var(--base--font--size-sm);
	}
}
